
.ui-icon-strength:after
{
	background-image: url("images/strength.png");
	background-size: 22px 22px;
}
.ui-icon-heartrate:after
{
	background-image: url("images/heartrate.png");
	background-size: 22px 22px;
}
.ui-icon-maxheartrate:after
{
	background-image: url("images/maxheartrate.png");
	background-size: 22px 22px;
}
.ui-icon-targetheartrate:after
{
	background-image: url("images/targetheartrate.png");
	background-size: 22px 22px;
}
.ui-icon-warmup:after
{
	background-image: url("images/warmup.png");
	background-size: 22px 22px;
}
.ui-icon-sweat:after
{
	background-image: url("images/sweat.png");
	background-size: 22px 22px;
}
.ui-icon-water:after
{
	background-image: url("images/water.png");
	background-size: 22px 22px;
}
.ui-icon-aboutMe:after
{
	background-image: url("images/aboutMe.png");
	background-size: 22px 22px;
}
.ui-icon-weightmeter:after
{
	background-image: url("images/weightmeter.png");
	background-size: 22px 22px;
}
.ui-icon-submit:after
{
	background-image: url("images/submit.png");
	background-size: 22px 22px;
}


.left{
	float: left;
	text-align: center;
    width: 50%;
    overflow: hidden;
	background-color: grey;
	height: -webkit-fill-available;
	
	
	
}
.right{
	text-align: center;
	background-color : lightgrey;
	width: 50%;
	float: right;
	height: -webkit-fill-available;
	
}​​